.conversor{
    background: #FFF;
    border-radius: 16px;
    box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px, rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
    padding: 24px;
    margin: 24px 0;
    max-width: 420px;
    width: calc(100% - 16px);
}