header {
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  height: 64px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.site-nav, .main-navigation {
  align-items: center;
  display: flex;
  height: 100%;
}

.main-navigation ul {
  align-items: center;
  display: flex;
  margin-left: 32px;
  height: 100%;
}

.main-navigation ul li {
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;
}

.main-navigation ul li:after {
  background: #ea4c4c;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transition: 0.35s ease-in-out;
  width: 0%;
}

.main-navigation ul li.active:after {
  width: 100%;
}

.main-navigation ul li:hover a{
  color: #000;
}

.main-navigation ul li.active a{
  color: #ea4c4c;
}

.main-navigation ul li a {
  color: rgba(0,0,0,0.55);
  font-size: 14px;
  font-weight: 600;
  padding: 0 16px;
  transition: 0.3s ease-in-out;
  width: 100%;
}

.logo {
  transform: translateY(-2px);
  width: 88px;
}

.balance-wr {
  align-items: center;
  display: flex;
}

.balance-wr small {
  font-size: 14px;
}

.balance-wr li {
  align-items: center;
  display: flex;
  padding-left: 16px;
}

.balance-wr li b {
  font-size: 14px;
  font-weight: 500;
}

.balance-wr li b span {
  font-weight: 600;
}

.balance-wr li img {
  width: 21px;
  margin-right: 4px;
}

@media all and (max-width: 860px) {
  .balance-wr small {
    display: none;
  }
}

@media all and (max-width: 720px) {
  .main-navigation{
    display: none;
  }
}

@media all and (max-width: 440px) {
  .balance-wr li b {
    display: flex;
    flex-flow: column;
  }

  .balance-wr li img{
    margin-right: 8px;
  }
}
